@import "libs/colors.scss";


*{
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
}


.header{
    width: 100%;
    height: 40%;
    background: $Christmas-2-hex;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $Christmas-1-hex, $Christmas-2-hex);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $Christmas-1-hex, $Christmas-2-hex); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    font-family: 'Great Vibes', cursive;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .siteTitle{
        &::before, &::after{
            content: "\1f384"
        }
        font-size: 3.3em;
    }
    p{
        &::before, &::after{
            content:"\1F381"
        }
        font-size: 1.4em;
    }
}

.description{
    padding: 36px;
    width: 56%;
    margin: 0 auto;
    .descTitle{
        background-color: $Christmas-2-hex;
        color: #fff;
        padding: 8px;
        width: 33%;
        margin: 10px auto 30px;
    }
    p{
        line-height: 1.8em;
    }
    .redInfo{
        color: $Christmas-2-hex;
        font-weight: 500;
        margin-top: 30px;
    }
}


.separation{
    background-image: url("/V0/src/img/christmasTree.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .disable{
        display: none;
    }
    span{
        background-color: #000;
        padding: 4px;
        margin: 4px;
        a{
            color: #fff;
            font-size: 0.8em;
            text-decoration: none;
            transition: font-size .6s;
            &:hover{
                font-size: .9em;
            }
        }
    }
}

#form{
    padding: 36px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.formTitle{
    @extend .descTitle;
    background-color: $Christmas-1-hex;
    color: #fff;
    padding: 10px;
    margin: 12px 0;
}

#inputsSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.santaInfo{
    display: flex;
    flex-flow: column;
    // width: 35%;
    margin: 12px;
    border: 1px solid #cccccc;
    padding: 24px;
    box-shadow: 1px 2px 12px  #dddddd;

    input{
        line-height: 28px;
        padding: 4px;
        font-size: 1em;
        width: 80;
        border: none;
        border-bottom: 1px solid #cccccc;
        margin: 12px 12px 0;
        outline: none;
    }
    input:focus{
        color: #fff;
        border-color: $Christmas-1-hex;
    }
    button{
        line-height: 28px;
        padding: 4px;
        font-size: 1em;
        border: none;
        border-radius: 0 0 8px 4px;
        background-color: $Christmas-2-hex;
        color: #fff;
        margin: 0 12px 12px 12px ;
        outline: none;
        transition: background-color .6s;
        &:hover{
            background-color: lighten($Christmas-2-hex, 10%);
        }
    }
}

.empty{
    background-color: rgb(238, 238, 238);
}



